<%= link_to article_path(article_side_bar), style:"clear: both;" do %>
  <div class="article-side-bar">
    <%= image_tag article_side_bar.image_url(:thumb) %>
    <span class="description-article-side-bar">
      <h5><%= truncate(article_side_bar.title, length: 70) %></h5>
      <br />
      <span class="date-time">
        <span class="fa fa-calendar">&nbsp;<%= article_side_bar.created_at.strftime("%b %d %Y") %></span>
      </span>
    </span>
  </div>
<% end %>
