<div class="header-side-bar">
  <h4>
    <span class="fa fa-facebook-official"></span>
    &nbsp;<%= t "articles.side_bar.fb_page" %>
  </h4>
  <div class="fb-page" data-href="https://www.facebook.com/%E1%9E%97%E1%9E%BC%E1%9E%98%E1%9E%B7%E1%9E%A2%E1%9E%B6%E1%9E%99%E1%9E%92%E1%9E%B8-1709498292628919/" data-width="400" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"></div>
<style>.fb-comments, .fb-comments iframe[style], .fb-like-box, .fb-like-box iframe[style] {width: 100% !important;}
.fb-comments span, .fb-comments iframe span[style], .fb-like-box span, .fb-like-box iframe span[style] {width: 100% !important;}
</style>
</div>

