<% provide :title, check_title_article %>
<div class="list article home">
  <div class="col-md-12 clear-padding-col">
    <div class="col-md-8">
      <div class="wraper-header clear-col-margin">
        <div class="header-category">
          <span class="fa fa-list"></span>
          <%= check_title_article %>
        </div>
      </div>
      <div class="content-list">
       <%= render @articles %>
       <div class="paginate"><%= paginate @articles, theme: "twitter-bootstrap-3", pagination_class: "pagination-small" %></div>
      </div>
    </div>
    <div class="col-md-4 side-bar facebook-like-page">
      <%= render "articles/fb_page" %>
    </div>
    <div class="col-md-4 side-bar">
    </div>
    <div class="col-md-4 side-bar">
    </div>
  </div>
</div>
