<% user = User.find activity.trackable_id %>
<div class="public-activity">
  <%= image_tag user.image_url, class: "img-circle" %>
  <%= link_to user.username, show_user_path(:user, user.id) %>
  was added as our member in PhumIT.</ br>
  <%= activity.created_at.strftime("%b %d %Y") %>
</div>
