.article {
  .title {
    border-left: 3px solid #337ab7;
    margin-bottom: 5px;
  }

  h3 {
    color: #337ab7;
    line-height: 36px;
    font-size: 23px;
    padding-left: 5px;
  }

  img {
    height: auto;
    width: 100%;
  }

  .content-article {
    width: 100%;
    min-height: 800px;
  }

  .description-box {
    margin: 15px 0px 15px 0px;
    line-height: 27px;
  }

  .title {
    .detail {
      padding-left: 5px;
      font-size: 13px;
      color: gray;

      .view {
        padding-left: 10px;
      }
    }
  }

  .footer-article {
    width: 100%;
    height: auto;
    margin-bottom: 10px;
    border-top: 1px solid #E1E1E1;
    padding-top: 20px;
    font-size: 14px;

    img {
      height: 30px;
      width: 30px;
    }

    .padding-top-tag {
      padding-top: 10px;
    }

    .color-link {
      color: #333333;
    }

    .height-col {
      min-height: 80px;

      .float-position {
        float: right;
      }
    }

    .twitter-google-plus {
      margin-top: 6px;

      .padding-follow {
        margin-left: 10px;
      }
    }
  }

  .action-share {
    margin-top: 0px;
    position: absolute;
    padding-left: 7px;
  }

  .side-bar {
    padding: 0px;
    margin-top: 10px;
    border: 1px solid #E1E1E1;
    height: 482px;

    .header-side-bar {
      width: 100%;
      height: 40px;
      background-color: #3A53A4;

      .more-article {
        width: 100%;
        height: 40px;
        text-align: center;
        padding-top: 10px;
        background-color: #E1E1E1;
      }

      .twitter-google-plus {
        padding-left: 10px;
        position: absolute;
        margin-bottom: 0px;
      }

      h4 {
        margin: 0px;
        padding: 10px;
        color: white;
      }

      .article-side-bar {
        height: 100px;
        padding: 5px 10px 5px 10px;

        img {
          height: 100%;
          width: 45%;
          max-width: 160px;
          max-height: 100%;
          object-fit: cover;
        }

        .description-article-side-bar {
          height: 100px;
          margin: 0px 0px 0px 5px;
          position: absolute;
          word-wrap: break-word;
          overflow: hidden;
          width: 55%;
          padding-right: 5px;

          .date-time {
            font-size: 12px;
            color: gray;
          }
        }

        h5 {
          margin-top: 0px;
          margin-bottom: 0px;
          display: inline;
          word-break: break-word;
        }
      }
    }
  }

  .sidebar-about-us {
    padding: 0px;

    .category-box {
      margin-top: 10px;

      .panel-footer {
        padding: 10px 15px;
        background-color: #eeeeee;
        border-top: 1px solid #ddd;
        border-bottom-right-radius: 0px;
        border-bottom-left-radius: 0px;
      }

      .panel-heading {
        padding: 10px 15px;
        border-bottom: 1px solid transparent;
        border-top-right-radius: 0px;
        border-top-left-radius: 0px;

        a {
          color: #FFFFFF;
          text-decoration: none;
        }
      }

      .panel {
        margin-bottom: 10px;
        background-color: #fff;
        border-radius: 0px;
        -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
        box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
      }

      .panel-danger > .panel-heading {
        color: white;
        background-color: #E84A4A;
        border-color: #E84A4A;
      }

      .panel-success > .panel-heading {
        color: #eeeeee;
        background-color: #48BD18;
        border-color: #48BD18;
      }

      .panel-info > .panel-heading {
        color: white;
        background-color: #05BFB7;
        border-color: #05BFB7;
      }

      .panel-warning > .panel-heading {
        color: white;
        background-color: #F1D43E;
        border-color: #F1D43E;
      }

      .panel-success, .panel-danger, .panel-info, .panel-warning, .panel-primary {
        border-color: transparent;
      }
    }
  }

  .top-alert {
    margin-top: 20px;
    word-break: break-word;
  }

  .alert {
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 0px;
  }

  .alert-danger {
    background-color: #f2dede;
    border-color: #ebccd1;
    color: #EB4335;
  }

  .alert-dismissable .close, .alert-dismissible .close {
    position: relative;
    top: -2px;
    right: 0px;
    color: inherit;
  }

  .facebook-like-page {
    height: 325px;
    background: #F6F7F8;
  }
}

@media screen and (max-width: 992px){

  .article {

    .footer-article {
      .col-md-5 {width: 41.66%;}
      .col-md-7 {
        width: 58.33%;
        right: 0px;
        top: 20px;
        position: absolute;
      }
    }
  }
}

@media screen and (max-width: 768px){

  .article {
    .title {
      border-left: 2px solid #337ab7;
      margin-bottom: 10px;
    }

    h3 {
      color: #337ab7;
      line-height: 23px;
      font-size: 20px;
      padding-left: 3px;
    }

    .title {
      .detail {
        padding-left: 3px;
        font-size: 10px;
      }
    }

    .side-bar .header-side-bar h4 {
      margin: 0px;
      padding: 10px;
      color: white;
      font-size: 15px;
    }

    .side-bar {
      height: 489px;
    }

    .facebook-like-page {
      height: 253px;
    }
  }

  .article .footer-article .col-md-7 {
    width: 100%;
    top: 0px;
    position: relative;
  }

  .article .footer-article .col-md-5 {
    width: 100%;
  }
  .article .footer-article .height-col {
    .float-position {
      float: left;
    }
  }
}
