@font-face {
  font-family: 'Hanuman';
  src: asset-url('Hanuman.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Battambang';
  src: asset-url('Battambang-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'kulen';
  src: asset-url('kulen.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}